main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinturas {
    font-family: 'Public Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2em 0 2em 0;
}

.pinturas li.pintura {
    position: relative;
}

li.pintura {
    width: 335px;
    height: 431px;
}


li.pintura img {
    width: 100%;
}

li.pintura .legenda-img h3{
    width: 335px;
    font-size: 17px;
    font-weight: 300;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

li .legenda-img span {
    display: block;
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 700;
}

@media (max-width:1482px) {
    .pinturas {
        max-width: 900px;
    }
}

@media (max-width: 740px) {
    .pinturas {
        max-width: 600px;
        gap: 1px;
    }
}
